/* intro.css - 교회 소개 페이지 전용 스타일 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 타임라인 추가 스타일 (church.css 기본 스타일에 추가) */
.intro-content {
    background-color: #EBF1F6;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
    .intro-content {
        padding: 0;
        background-color: #EBF1F6;
    }
    
    .history-title {
        padding: 40px 28px 0 28px;
        border-radius: 8px 8px 0 0;
    }
    
    .history-title h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .timeline {
        background-color: #EBF1F6;
        border-radius: 0 0 8px 8px;
        padding: 20px;
    }

    .content-area h2{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        margin: 60px 0 24px 0;
    }
}